<div class="modal" *ngIf="modalVeiculo">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-titulo">
        {{ veiculo.id === null ? "Adicionar" : "Alterar" }} Veículo
      </h3>
      <button type="button" (click)="fecharModal()">X</button>
    </div>

    <form class="modal-form" (ngSubmit)="salvarVeiculo()">
      <label>Modelo: </label>
      <input
        type="text"
        [(ngModel)]="veiculo.modelo"
        placeholder="Informe o modelo"
        required
        name="modelo"
      />

      <label>Marca: </label>
      <input
        type="text"
        [(ngModel)]="veiculo.marca"
        placeholder="Informe a marca"
        required
        name="marca"
      />

      <label>Cor: </label>
      <input
        type="text"
        [(ngModel)]="veiculo.cor"
        placeholder="Informe a cor"
        required
        name="cor"
      />

      <label>Ano de fabricação: </label>
      <input
        type="number"
        [(ngModel)]="veiculo.anoDeFabricacao"
        placeholder="Informe o ano de fabricação"
        required
        pattern="[0-9]{4}"
        name="anoDeFabricacao"
      />

      <label>Placa: </label>
      <input
        type="text"
        [(ngModel)]="veiculo.placa"
        placeholder="Informe a placa"
        required
        name="placa"
      />

      <button type="submit">Salvar</button>
    </form>
  </div>
</div>
